svg{
  top: -10px;
  position: absolute;
  left: 0px;
  width: 200px;
  height: 200px;
  z-index: 1;
}

path{
  stroke-linecap: square;
  stroke: white;
  stroke-width: 1.2px;
}

@media screen and (max-width: 576px) {
  svg {
    width: 100px;
  }
}